
body {
  background:#FFBBC6;
  font-family: Arial, sans-serif;
  overflow: hidden;
}


.banner {
  background-image:url(../Image/Banner.jpg);
  height: 150px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}



.shortcuts {
  height: 100%;
  width: 193px;
  position: fixed;
  top: 350px;
  left: 0;
}


.shortcut-link {
  display: block;
  background-color: #FFBBC6;;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 60px;
  position: relative;
}



a {
  text-decoration: none;
  color:#fff
}


.content {
  background-color: #F0FFFF;
  height: 85%;
  width: 80.4%;
  margin-left: 185px;
  padding-top: 150px;
  font-size:20px;
  padding-bottom: 671px;
}


.content h2 {
  text-align: center;
  font-size: 36px;
  font-family: Georgia, serif;
}
